{% extends "auctions/layout.html" %}

{% block title %}Auction Categories{% endblock %}

{% block body %}
    <h2>Categories</h2>
    <br>
    <h5 class="cat_text">Choose the category in which you wish to search auctions.</h5>
    <br>
    <div class="cat_container">
        {% for row in choices %}
            <form action="{% url 'category' %}" method="post">
                {% csrf_token %}
                <ul>
                    <div class="cat"><li><input class="category_btn" name="choice" type="submit" value="{{row}}"></li></div>
                </ul>
            </form>
        {% endfor %}
    </div>
{% endblock %}