{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page 
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    <br>
    <br>
    <div class="container">
        <form class="frm" action="{% url 'new' %}" method="post">
            {% csrf_token %}
            {{ form.title }}
            <br>
            <br>
            {{ form.content }}
            <br>
            <br>
            <button class="btn" name="submit" type="submit">Save Page</button>
        </form>
    </div>
{% endblock %}