{% extends "finalproject/layout.html" %}

{% block body %}
<br><br><br><br><br><br><br><br>
<h2 class="small-caps-2 about-title"  style="margin-left: 20px;">Register</h2>
<br>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="nickname" placeholder="Nickname">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <br>
        <input class="button" type="submit" value="Register">
    </form>
    <br>

    <p style="margin-left: 20px;">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    <br><br><br><br><br><br><br><br><br>

{% endblock %}