{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit: {{ entry }}
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <br>
    <br>
    <div class="container">
        <form class="frm" action="{% url 'edit' entry %}" method="post">
            {% csrf_token %}
            {{ form.title.as_hidden | safe}}
            <br>
            <br>
            {{ form.content | safe }}
            <br>
            <br>
            <button class="btn" name="save" type="submit">Save Page</button>
        </form>
    </div>
{% endblock %}